*{
    background-color: #000000;
    color: white;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
h1{
    font-size: 170px;
    color: #169976;
    padding-top: 100px;
    margin-bottom: 20px;
    font-family: "VT323";
    word-spacing: -0.5ch;
}
.description{
    font-size: 1.3rem;
    margin-bottom: 30px;
    margin-top: 1px;
    margin-bottom: 100px; 
}
button{
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  border-radius: 9999px;
  background-color: #169976;
  padding: 0.625rem 1.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
button:hover{
    background-color: #222222;
}
#game-screen, #end-screen, #start-screen{
    display: none;
    flex-direction: column;
    align-items: center;
}
#start-screen.show, #game-screen.show, #end-screen.show{
    display: flex;
}
#top-bar{
    display: grid;
    justify-content: space-between;
    width: auto;
    font-size: 1.8em;
    margin-top: 30px 0 0 0;
    padding: 15px;
    gap: 600px;
    grid-template-columns: 1fr auto 1fr; /*display*/
}
.game-over{    
    font-size: 170px;
    font-weight: bold;
    color: #169976;
    padding-top: 40px;
    margin-bottom: 20px; 
    font-family: "VT323";
    word-spacing: -0.5ch;
}
#words{
    font-size: 150px;
    margin: 100px 0 50px 0;
    padding-bottom: 20px;
    font-family: "VT323";
    letter-spacing: 8px;
}
.circle-btn{
    width: 200px;
    height: 200px;
    border: none;
    margin: 0 20px;
    cursor: pointer;
}
.circle-btn:hover {
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
}
#feedback{
    margin: 0 auto 40px; 
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: relative;
    top: -30px;
}
#final-score{
    font-size: 1.3rem;
    margin-bottom: 119px;
    margin-top: 1px;
}
/* Popup Styles */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 0 50px 0 50px;
}

.popup-btn {
    background: #169976;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

.popup-btn:hover {
    background: #117a5a;
}

